@page "/"

@inject TestService TS
@inject NavigationManager NavMan


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button class="btn btn-primary" @onclick="OnClickTest">Test</button>
<button class="btn btn-secondary" @onclick="OnClickExit">Exit</button>

@code {
    void OnClickTest()
    {
        TS.Func1();
    }

    void OnClickExit()
    {
        NavMan.NavigateTo("http://localhost:8080");
    }
}
